<html lang="en">
  <head th:replace="layout :: head"></head>
  <body class="forms-body">
    <form action="/tasks/save" method="POST" th:object="${todolist}">
      <fieldset>
        <legend>Add your task here</legend>

        <div class="form-data">
          <label class="label-forms">Title</label>
          <br />
          <input
            class="forms-input"
            type="text"
            placeholder="Type the task title here!"
            th:field="${todolist.taskName}"
            required
          />
        </div>

        <div class="form-data">
          <label class="label-forms">Description</label>
          <input
            class="forms-input"
            type="text"
            placeholder="Type the task description here!"
            th:field="${todolist.taskDescription}"
            required
          />
        </div>

        <button class="form-button" type="submit">Create</button>
      </fieldset>
    </form>
  </body>
</html>
