<html lang="en">
  <head th:replace="layout :: head"></head>

  <body>
    <div id="grad">
      <div class="create-task">
        <div class="create-box">
          <div class="color-create-box">
            <a href="/tasks/new"
              >Create your Task
              <img th:src="@{/img/notes.png}" class="icon-3" alt="" />
            </a>
          </div>
          <div class="color-create-box-2">
            <a href="/">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div id="box">
      <div class="task" th:each="todolist: ${todolists}">
        <div class="task-header">
          <div class="title-color">
            <h2 th:text="${todolist.taskName}">Title</h2>
          </div>

          <div>
            <a th:href="@{/tasks/update/{id}(id=${todolist.id})}">
              <img th:src="@{/img/edit.png}" class="icon-1" alt="" />
            </a>

            <a
              th:href="@{/tasks/delete/{id}(id=${todolist.id})}"
              th:data-confirm-delete="|You want to delete this task?|"
              onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
            >
              <img th:src="@{/img/delete.png}" class="icon-2" alt="" />
            </a>
          </div>
        </div>

        <div class="task-description" th:text="${todolist.taskDescription}">
          Description test. Whereas disregard and contempt for human rights have
          resulted. Whereas disregard and contempt for human rights have
          resulted.
        </div>
      </div>
    </div>
  </body>
</html>
