* {
  font-family: 'Poppins', sans-serif;
}

// Tomoki and Pan parts

.forms-body {
  text-align: center;
  margin: auto;
}

fieldset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 0 1 auto;
  width: 700px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 4px gray;
  border-radius: 20px;
}

legend {
  text-align: left;
  font-size: 25px;
  color: #b0c3eb;
}

.form-data {
  margin: 25px;
}

.forms-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
}

input[type='text'] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type='text']:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.label-forms {
  float: left;
}

.form-button {
  width: 300px;
  height: 60px;
  margin-inline: auto;
  display: block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background: #b0c3eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 150px;
  border: none;
  font-size: 25px;
}

.form-button:hover {
  transition: opacity 0.5s;
  opacity: 0.5;
}

/* Elisa */

#box {
  width: 100%;
  height: 100%;
  box-shadow: 0px 60px 50px 0px rgba(0, 0, 0, 0.17);
  border-radius: 5px 8px 8px 0;
  border-left: 1.5px solid #9082e8;
  border-bottom: 2px solid #9082e8;
  border-top: 1px solid #9082e8;
  border-right: 1px solid #9082e8;
  background: #ebf0f7;

  display: flex;
  flex-wrap: wrap;
}

#grad {
  width: 100%;
  height: 70px;
  background-color: #d75577;
  background-image: linear-gradient(to bottom right, #e0a7b0, #d85377);
  margin-bottom: 7px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0 3px 3px 0;
}

.create-task {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.create-box {
  display: flex;
  gap: 10px;
}

.color-create-box-2 {
  display: flex;
  align-items: center;
  background: #ebba09;
  padding: 4px 10px;
  border-radius: 7px;
  margin: 13px 0 0 0;
  transition: 0.3s;
}

.color-create-box {
  display: flex;
  align-items: center;
  background: #ebc0c7;
  padding: 4px 10px;
  border-radius: 7px;
  margin: 13px 0 0 0;
  transition: 0.3s;
}

.color-create-box:hover {
  background-color: #f0c8cd;
}

.color-create-box-2:hover {
  background-color: #f0c8cd;
}

.color-create-box > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #d63a65;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.color-create-box-2 > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #d63a65;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.title-color {
  display: inline-block;
  background: #e3dffd;
  border-radius: 7px;
  margin: 13px 0 0 0;
}

.title-color h2 {
  margin: 0;
  padding: 4px 10px;
  font-size: 22px;
  font-weight: 700;
  color: #715fe9;
  font-family: 'Cormorant Garamond', serif;
}

.icon-1 {
  width: 21.5px;
  height: 21.5px;
  margin-top: 15px;

  cursor: pointer;
}

.icon-2 {
  width: 23.5px;
  height: 23.5px;
  margin-left: 10px;
  cursor: pointer;
}

.icon-3 {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task {
  background: #fff;
  border-radius: 10px;
  margin: 15px;
  width: 253px;
  height: 230px;
  padding: 5px 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.task-description {
  font-weight: 600;
  font-size: 19px;
  font-family: 'Cormorant Garamond', serif;
  color: black;
  padding-top: 18px;
  padding-left: 5px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #d8dffa;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 590px;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  background-color: #f5f6fa;
}

.left-box {
  position: absolute;
  height: 100%;
  width: 44%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

.sign-in-form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #715fe9;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #8371fd;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #5037f4;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

.main-page-labels {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: #9f91f8;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  transition: 0.3s;

  padding-top: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.sign-btn:hover {
  background-color: #9181f7;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 55%;
  margin-left: 42%;
  margin-top: 6%;
  height: 420px;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  .sign-in-form {
    padding: 1rem 2rem 1.5rem;
  }
}
